.mainBackground {
    padding: 10px 0 40px 0;
    position: relative;
  
    .mainContainer {
      position: relative;
      max-width: none ;
      background-color: white !important;

      .sidenav-container {
        flex: 1;
        background: blue($color: #000000);
        .sidenav {
          padding: 12px;
          width: 250px;
          background: white;
        }
        .main-container {
          padding: 16px;
        }
    }
    }
  }