<div class="mainBackground">
    <div class="mainGradient">
        <div class="mainContainer">
            <mat-sidenav-container class="sidenav-container">
                <!-- <mat-sidenav #snav class="sidenav">
                    <mat-nav-list>

                        sdsdasdashboard

                    </mat-nav-list>
                </mat-sidenav> -->
                <mat-sidenav-content>
                    <router-outlet></router-outlet>
                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>
    </div>
</div>