.marginBottom {
    margin-bottom: 20px;
}

.marginBottom_40 {
    margin-bottom: 40px;
}

.minWidthFormField {
    min-width: 100px
}

.overridePadding {
    padding-left: 0px !important
}

.checkBoxDisplayInline {
    display: inline-block;
}

.mat-expansion-panel-body {
    padding-top: 20px !important;
}

.label_underline {
    text-decoration: underline;
    cursor: pointer;
    padding-left: 10px;
}

.label_site {
    display: inline-block;
    min-width: 55px;
}