<mat-sidenav-container>
    <div class="wrapper">
        <div class="toolbar">
            <mat-toolbar color="primary">
                <a><span class="mat-h2" style="font-size: 30px">Claiming service</span></a>
                <span class="example-spacer"></span>
                <button mat-button mat-stroked-button color="secondary" style="background-color: darkgray" (click)="onLoginClick($event)">
                    Login
                </button>
            </mat-toolbar>
        </div>

        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>

</mat-sidenav-container>